body,
body:not(.dark-theme) {
  background-color: lightgray;
  color: black;
}

body.dark-theme {
  background-color: #0D1117;
  color: white;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #0D1117;
    color: white;
  }
}

button {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 4px 8px;
}

.hidden {
  display: none; /*inte */
}

.visible {
  display: block;
}